<?xml version="1.0"?>
<config>
    <modules>
        <WS_PendingPaypal>
            <version>1.0.2</version>
        </WS_PendingPaypal>
    </modules>
	<global>
		<resources>
        	<pendingpaypal_setup>
            	<setup>
                	<module>WS_PendingPaypal</module>
                	<class>WS_PendingPaypal_Model_Mysql4_Setup</class>
            	</setup>
        	</pendingpaypal_setup>
    	</resources>
        <models>
        	<PendingPaypal_adminhtml>
            	<class>WS_PendingPaypal_Adminhtml_Model</class>
          	</PendingPaypal_adminhtml>
            <sales>
                <rewrite>
                    <order>WS_PendingPaypal_Model_Order</order>
                </rewrite>
            </sales>
        </models>
        <blocks>
            <PendingPaypal>
                <class>WS_PendingPaypal_Block</class>
            </PendingPaypal>
        </blocks>
        <helpers>
            <PendingPaypal>
                <class>WS_PendingPaypal_Helper</class>
            </PendingPaypal>  
        </helpers>
    </global>
    <frontend>
        <routers>
            <PendingPaypal>
                <use>standard</use>
                <args>
                    <module>WS_PendingPaypal</module>
                    <frontName>PendingPaypal</frontName>
                </args>
            </PendingPaypal>
        </routers>
        <layout>
            <updates>
                <PendingPaypal>
                    <file>PendingPaypal.xml</file>
                </PendingPaypal>
            </updates>
        </layout>
    </frontend> 
    <adminhtml>
        <translate>
            <modules>
                <mage_adminhtml>
                    <files>
                        <PendingPaypal>WS_PendingPaypal.csv</PendingPaypal>
                    </files>
                </mage_adminhtml>
            </modules>
        </translate>
    </adminhtml> 
	<default>
        <pending_paypal>
            <pending_paypal_settings>
                <pending_paypal_show>1</pending_paypal_show>
            </pending_paypal_settings>
        </pending_paypal>
    </default> 
</config>    
